.body{
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
}
.owl-next {
  display:none;
}
.owl-prev {
  display: none;
}
.disabled {
  display: none !important;
}

.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0,0,0, 0.4)
}

.titleMessage{
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
}

.titleMessage .heading p {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
  font-weight: 200;
  letter-spacing: 7px;
  font-size: 300%;
}

.titleMessage .heading span {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
  font-weight: 200;
  letter-spacing: 7px;
  font-size: 150%;
}

.section {
  padding: 100px 0 100px 0;
}

.aboutImage {
  max-width: 100%;
}

.skillsSection,
.contactSection{
  color: #fff;
  background-color: #2c3e50;
}

.squareItem {
	margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
	position: relative;
	padding: 50px 15px 35px;
	text-align: center;
	border: 2px solid #444;
	border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
	content: '';
	position: absolute;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid #444;
}

.squareInnerContainer:before {
	right: 0px;
}

.squareInnerContainer:after {
	left: 0px
}

.squareContent h2 {
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 400;
	color: #e74c3c;
}

.squareContent h3 {
	font-size: 13px;
	font-weight: 600;
	margin: 0;
}

.squareIcon {
	position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
}


